<h1>home page</h1>
<p>Hey!this is home page</p>

<p>My name is {{{name}}} and I am {{age}} years old.</p>
{{#if city}}
   <p>I am from {{city}}</p>
{{/if}}

{{#each hobbies}}
  <p><b>{{this}}</b></p>
{{/each}}