<div class="container">
    <div class="col-md-4 mx-auto mt-5">
        <h1>Register</h1>
        <form action="/profile/register" method="post" enctype="multipart/form-data" class="form-group" >
            <input type="text" class="form-control" name="first-name" placeholder="First Name" /> <br>
            <input type="text" class="form-control" name="last-name" placeholder="Last Name" /><br>
            <input type="file" name="avatar" class="form-control" id="">
            <hr>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>
</div>